.main {
  background-image: url("./bg-sign-in-basic.jpeg");
  background-size: 100%;
  justify-content: center;
  display: flex;
  padding-top: 15%;
  padding-bottom: 16%;
}

.sub-main {
  display: flex;
  justify-content: center;
  height: 90%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 5px;
  border-radius: 20px;
  background-color: rgba(224, 237, 247, 0.274);
  background-color: "";
}

.button {
  position: absolute;
  top: 0;
  right: 0;
}
